<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ear to the Ground News</title>
  <link rel="stylesheet" href="/css/app.css">
</head>
<body class="flex flex-col min-h-screen bg-gray-300">
  {{ partial "dev-banner.html" . }}
  <!-- Header -->
  {{ partial "nav.html" . }}

  <!-- Main Content -->
  <main class="container mx-auto max-w-screen-lg flex-grow px-4">
  {{ block "main" . }}{{ end }}
  </main>
  
  {{ partial "us-map.html" . }} 
  {{ $js := resources.Get "js/site.js" | js.Build | minify | fingerprint }}
  <script src="{{ $js.RelPermalink }}"></script>
  <!-- Footer -->
  {{ partial "footer.html" . }}
  <script src="/pagefind/pagefind-ui.js"></script>
  <link href="/pagefind/pagefind-ui.css" rel="stylesheet">
</body>
</html>