<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ear to the Ground News</title>
  <link rel="stylesheet" href="{{ "css/app.css" | resources.Get | resources.Minify | relURL }}">
</head>
<body class="flex flex-col min-h-screen bg-gray-300"></body>
  <!-- Header -->
  {{ partial "header.html" . }}

  <!-- Main Content -->
  <main class="flex-grow">
    {{ block "main" . }}{{ end }}
  </main>

  <!-- Footer -->
  {{ partial "footer.html" . }}
</body>
</html>