{{ define "main" }}
<section class="prose mx-auto p-6">
    {{ .Content }}
  </section>

<div class="w-full px-4 py-6">
  {{ $state := .Params.state }}
  {{ if $state }}
    {{ $countiesMap := index .Site.Data.states $state }}
    {{ if $countiesMap }}
      {{ $countiesList := slice }}
      {{ range $k, $v := $countiesMap }}
        {{ $countiesList = $countiesList | append $v }}
      {{ end }}
      {{ $countiesList = sort $countiesList "name" }}
      <ul class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4 list-none p-0 m-0">
        {{ range $county := $countiesList }}
          {{ if and $county.name $county.slug (isset $county "cities") (gt (len $county.cities) 0) }}
          <li>
            <a href="/states/{{ $state }}/counties/{{ $county.slug }}/"
               class="block w-full h-full p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ $county.name }}</h5>
              <p class="font-normal text-gray-700 dark:text-gray-400">
                <span class="font-bold">Cities:</span> {{ delimit $county.cities ", " }}
              </p>
            </a>
          </li>
          {{ end }}
        {{ end }}
      </ul>
    {{ else }}
      <p>No county data available for this state.</p>
    {{ end }}
  {{ else }}
    <p>No state selected.</p>
  {{ end }}
</div>

{{ end }}